<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ASPNETCORE.styles.css" asp-append-version="true" />
</head>
<body>
    <main>
        <nav>
            <ul class="Auth">
                <li><a asp-controller="Auth" asp-action="Register">Register</a></li>
                <li><a asp-controller="Auth" asp-action="Login">Login</a></li>
            </ul>
            <ul class="Category">
                <li><a asp-controller="Principal" asp-action="Index">Home</a></li>
                <li><a asp-controller="Principal" asp-action="Groups">Groups</a></li>
            </ul>

            @{await RenderSectionAsync("logOut", false);}

        </nav>

        <section id="principal">
            @RenderBody()
        </section>
    </main>

    @{await RenderSectionAsync("footer", false);}
    @{await RenderSectionAsync("scripts", false);}
</body>
</html>